## Accessing table using wikitable

In [1]:
#Reading Wiki tables
import pandas as pd

In [2]:
# change the index table
from pandas.io.html import read_html
import urllib.request

class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"
opener = AppURLopener()
page = opener.open('https://www.worldometers.info/coronavirus/')

wikitables = read_html(page,attrs={"id":"main_table_countries_today"})

print ("Extracted {num} wikitables".format(num=len(wikitables)))

C:\Users\surak\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  import sys

Extracted 1 wikitables

In [3]:
wikitables[0].head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,World,1270756,"+69,273",69376.0,"+4,686",261210.0,940170,45611.0,163.0,8.9,NaN,NaN
1,USA,336085,"+24,728",9602.0,"+1,151",17245.0,309238,8702.0,1015.0,29.0,1758508.0,5313.0
2,Spain,131646,"+5,478",12641.0,+694,38080.0,80925,6861.0,2816.0,270.0,355000.0,7593.0
3,Italy,128948,"+4,316",15887.0,+525,21815.0,91246,3977.0,2133.0,263.0,691461.0,11436.0
4,Germany,100123,"+4,031",1584.0,+140,28700.0,69839,3936.0,1195.0,19.0,918460.0,10962.0

## Accessing the table using BeautifulSoup

In [4]:
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup
import urllib.request

In [5]:
class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"
opener = AppURLopener()

C:\Users\surak\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
html = opener.open("https://www.worldometers.info/coronavirus/")

In [7]:
soup = BeautifulSoup(html, "html.parser")
table = soup.findAll("table", {"id":"main_table_countries_today"})[0]
rows = table.findAll("tr")

In [8]:
with open("Covid19cases.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for row in rows:
        csv_row = []
        for cell in row.findAll(["td", "th"]):
            csv_row.append(cell.get_text())
        writer.writerow(csv_row)

In [9]:
df = pd.read_csv("Covid19cases.csv",  encoding = "ISO-8859-1")

In [10]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,World,"1,270,756","+69,273","69,376","+4,686","261,210","940,170","45,611",163,8.9,NaN,NaN
1,USA,"336,085","+24,728","9,602","+1,151","17,245","309,238","8,702","1,015",29.0,"1,758,508","5,313"
2,Spain,"131,646","+5,478","12,641",+694,"38,080","80,925","6,861","2,816",270.0,"355,000","7,593"
3,Italy,"128,948","+4,316","15,887",+525,"21,815","91,246","3,977","2,133",263.0,"691,461","11,436"
4,Germany,"100,123","+4,031","1,584",+140,"28,700","69,839","3,936","1,195",19.0,"918,460","10,962"
5,France,"92,839","+2,886","8,078",+518,"16,183","68,578","6,838","1,422",124.0,"224,254","3,436"
6,Iran,"58,226","+2,483","3,603",+151,"19,736","34,887","4,103",693,43.0,"186,000","2,214"
7,UK,"47,806","+5,903","4,934",+621,135,"42,737","1,559",704,73.0,"195,524","2,880"
8,Turkey,"27,069","+3,135",574,+73,"1,042","25,453","1,381",321,7.0,"181,445","2,151"
9,Switzerland,"21,100",+595,715,+49,"6,415","13,970",391,"2,438",83.0,"158,000","18,256"
10,Belgium,"19,691","+1,260","1,447",+164,"3,751","14,493","1,261","1,699",125.0,"70,000","6,040"
11,Netherlands,"17,851","+1,224","1,766",+115,250,"15,835","1,385","1,042",103.0,"75,415","4,401"
12,Canada,"15,425","+1,513",277,+46,"2,847","12,301",426,409,7.0,"317,972","8,425"
13,Austria,"12,051",+270,204,+18,"2,998","8,849",244,"1,338",23.0,"108,416","12,038"
14,Portugal,"11,278",+754,295,+29,75,"10,908",267,"1,106",29.0,"86,370","8,470"
15,Brazil,"11,130",+770,486,+41,127,"10,517",296,52,2.0,"54,824",258
16,S. Korea,"10,237",+81,183,+6,"6,463","3,591",55,200,4.0,"461,233","8,996"
17,Israel,"8,430",+579,49,+5,477,"7,904",139,974,6.0,"90,394","10,443"
18,Sweden,"6,830",+387,401,+28,205,"6,224",541,676,40.0,"36,900","3,654"
19,Norway,"5,687",+137,71,+9,32,"5,584",89,"1,049",13.0,"105,865","19,528"
20,Australia,"5,687",+137,37,+7,"2,315","3,335",91,223,1.0,"297,154","11,653"
21,Russia,"5,389",+658,45,+2,355,"4,989",8,37,0.3,"697,000","4,776"
22,Ireland,"4,994",+390,158,+21,25,"4,811",165,"1,011",32.0,"30,213","6,119"
23,Czechia,"4,587",+115,67,+8,96,"4,424",86,428,6.0,"80,304","7,499"
24,Chile,"4,471",+310,34,+7,618,"3,819",307,234,2.0,"51,956","2,718"
25,Denmark,"4,369",+292,179,+18,"1,327","2,863",142,754,31.0,"49,249","8,503"
26,Poland,"4,102",+475,94,+15,134,"3,874",50,108,2.0,"80,757","2,134"
27,Romania,"3,864",+251,151,+5,374,"3,339",141,201,8.0,"38,623","2,008"
28,Malaysia,"3,662",+179,61,+4,"1,005","2,596",99,113,2.0,"51,937","1,605"
29,Ecuador,"3,646",+181,180,+8,100,"3,366",100,207,10.0,"12,386",702
...,...,...,...,...,...,...,...,...,...,...,...,...
182,Chad,9,NaN,,NaN,NaN,9,NaN,0.5,NaN,NaN,NaN
183,Eswatini,9,NaN,,NaN,NaN,9,NaN,8,NaN,NaN,NaN
184,CAR,8,NaN,,NaN,NaN,8,NaN,2,NaN,NaN,NaN
185,Cabo Verde,7,NaN,1,NaN,NaN,6,NaN,13,2.0,NaN,NaN
186,Vatican City,7,NaN,,NaN,NaN,7,NaN,"8,739",NaN,NaN,NaN
187,St. Vincent Grenadines,7,NaN,,NaN,1,6,NaN,63,NaN,NaN,NaN
188,Somalia,7,NaN,,NaN,1,6,NaN,0.4,NaN,NaN,NaN
189,Botswana,6,+2,1,NaN,NaN,5,NaN,3,0.4,966,411
190,Mauritania,6,NaN,1,NaN,2,3,NaN,1,0.2,67,14
191,Nicaragua,6,+1,1,NaN,NaN,5,NaN,0.9,0.2,NaN,NaN
192,Montserrat,6,NaN,,NaN,NaN,6,NaN,"1,202",NaN,NaN,NaN
193,St. Barth,6,NaN,,NaN,1,5,NaN,607,NaN,NaN,NaN
194,Sierra Leone,6,+2,,NaN,NaN,6,NaN,0.8,NaN,NaN,NaN
195,Turks and Caicos,5,NaN,1,+1,NaN,4,NaN,129,26.0,NaN,NaN
196,Belize,5,+1,,NaN,NaN,5,1,13,NaN,102,257
197,Bhutan,5,NaN,,NaN,2,3,NaN,6,NaN,NaN,NaN
198,Gambia,4,NaN,1,NaN,2,1,NaN,2,0.4,NaN,NaN
199,Malawi,4,NaN,,NaN,NaN,4,NaN,0.2,NaN,NaN,NaN
200,Western Sahara,4,NaN,,NaN,NaN,4,NaN,7,NaN,NaN,NaN
201,Anguilla,3,NaN,,NaN,NaN,3,NaN,200,NaN,NaN,NaN
202,British Virgin Islands,3,NaN,,NaN,NaN,3,NaN,99,NaN,NaN,NaN
203,Burundi,3,NaN,,NaN,NaN,3,NaN,0.3,NaN,NaN,NaN
204,Caribbean Netherlands,2,NaN,,NaN,NaN,2,NaN,76,NaN,10,381
205,Falkland Islands,2,+1,,NaN,NaN,2,NaN,575,NaN,NaN,NaN
206,Papua New Guinea,1,NaN,,NaN,NaN,1,NaN,0.1,NaN,72,8
207,Saint Pierre Miquelon,1,+1,,NaN,NaN,1,NaN,173,NaN,NaN,NaN
208,South Sudan,1,+1,,NaN,NaN,1,NaN,0.09,NaN,NaN,NaN
209,Timor-Leste,1,NaN,,NaN,NaN,1,NaN,0.8,NaN,NaN,NaN
210,China,"81,669",NaN,"3,329",NaN,"76,964","1,376",295,57,2.0,NaN,NaN
211,Total:,"1,270,756","+69,273","69,376","+4,686","261,210","940,170","45,611",163.0,8.9,NaN,NaN